.header-style {
  height: 4em;
  width: 100%;
  z-index: 400;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #008267;
  justify-content: center;
  position: relative;
  .menu-icon {
    color: white;
    font-size: 2.5em;
    cursor: pointer;
  }
  > .title {
    font-size: 2em;
    font-weight: bold;
    color: white;
    position: absolute;
    //correção para centralizar o titulo no IE 10
    top: 22%;
  }
}
